
@font-face {
    font-family: 'gibsonlight';
    src: url('Fonts/gibson-light-webfont.woff2') format('woff2'),
         url('Fonts/gibson-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gibsonsemibold';
    src: url('Fonts/gibson-semibold-webfont.woff2') format('woff2'),
         url('Fonts/gibson-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%; /* = 16px */
    font-family: 'gibsonsemibold';
    min-width: 350px;
    }
body, p, img, div{
    margin: 0;
    padding: 0;
}       
.horniLista{
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0154CE;
    border-bottom: 1px solid white;
    height: 60px;
    width: 100%;
}
.logo img{
    max-width: 100%;  
 }
.logo{
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    height: 60px;
    margin-left: 4%;
}
.langSelector{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 20%;
    height: 60px;
    font-family: 'gibsonlight';
    
}
.langCZ{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    border-right: 1px solid white;
    align-items: flex-start;
    color:red;
    cursor: pointer;
}
.langEN{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    align-items: flex-end;
    color: white;
    cursor: pointer;
}
#en #cz{
    cursor: pointer;
}
.icon{
    height: 40px;
    margin-right: 4%;
}    
.timerBckGrnd{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    height: 5vw;
    background-color: #0154CE;

}
.timer{
    flex: 1 1 35%;
    max-width: 60%;
    height: 3vw;
    border-radius: 0 0 20px 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    font-family: 'gibsonlight';
}
.timer p{
    padding-top: 1%; 
    font-size: 2vw;
    text-align: center;
    color: white;
}
.snimky{
    display: flex;
    flex-flow: column;
    color:white;
}
.snimekBlok{
    position: relative;
    display: flex;
    flex-flow: column;
    border-left: 1px solid white;
    border-right: 1px solid white;
} 
.hlavickaSnimku{
    position: relative;
    flex: 1 1 40px;
    background-color:  #0154CE;
    color: white;
}
.hlavickaSnimku p{
    position: absolute;
    top: 30%;
    padding-left: 5%;
    font-weight: 700;
}
.hlavSnimkuIcon{
    position: absolute;
    color: white;
    top: 25%;
    right: 5%;
}
.snimek{
    width: 100%;
}
.snimekPopis{
    position: absolute;
    top: 5%;
    right: 5%;
    display: none;
    font-family: 'gibsonlight';
    color: red;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
}

.mapa_meteoBlok{
    display: flex;
    flex-direction: column;
}
.mapaBlok, .meteoBlok{
    display: flex;
    flex-direction: column;
    margin-left: 1px ;
    margin-right: 1px ;
    height: 340px;
}
.hlavickaMapa, .hlavickaMeteo{
    background-color:  #0154CE;
    color: white;
    margin-top: 1px;
    height: 40px;
}
.mapa{
    height: 300px;
}

.hlavickaMapa p, .hlavickaMeteo p{
    text-align: center;
    top: 30%;
    font-weight: 700;
    margin-top: 8px;

}
.meteoBody{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    height: 300px;
    color: #0154CE;
}
.meteoHodnoty{
    display: flex;    
    flex-basis: 49%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.meteoHodnoty table{
    flex-basis:90%;
    
}
td{
    padding-top: 0.3em;
    vertical-align: center;
    font-size: 0.9em;
}
td:nth-child(1){
    text-align: right;
    padding-right: 5%;
    font-family: 'gibsonlight';
    font-weight: 600;
    width: 50%;
}
td:nth-child(2){
    text-align: left;
   
}

.meteoCompas{
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-left: 1px solid black;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Pics/compasRedSmall_Bckgrd.jpg");
    background-position: center;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
}
.compasImg{
    border-radius: 50%;
    height: 80px;
}
.meteoCompas table{
    width: 100%;
}
.meteoSunMoon{
    display: flex;    
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    height: 100px;
    color:#0154CE;
    font-size: 0.8em;
}
.meteoSunMoonBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 33%;
    margin: 2%;
}   
.imgSun{
    width: 35%;

}
.imgMoon{
   width: 35%;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid white;
    background-color:#0154CE;
    color: white;
    text-align: center;
    font-family: 'gibsonlight';
}
footer p{
    padding-top: 3px;
}
footer a{
    color: white;
}
.red{
    color: red;
}
    
.white{
    color: white;
}
.imageBigArea{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 670px) and (max-width: 900px){
    .snimky{
        flex-flow: row;
        flex-wrap: wrap;
    }
    .hlavickaSnimku{
        display: none;
    } 
    .snimekBlok{
        flex: 1 1 49%;
    }    
    #s1, #s2{
        display: inherit;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }

    #s3, #s4, .snimekPopis{
        display: inherit;
    }

    .mapa_meteoBlok{
    display: flex;
    flex-direction: row;
    }
    .mapaBlok, .meteoBlok{
    flex-basis: 50%;
    }

}
@media (min-width: 900px){
    .snimky{
        flex-flow: row;
        flex-wrap: wrap;
    }
    .hlavickaSnimku{
        display: none;
    } 
    .snimekBlok{
        flex: 1 1 24%;
    }      
    #s1{
        display: inherit;
        border-top: 1px solid white;
        cursor: zoom-in;
    }
    #s2{
        display: inherit;
        border-top: 1px solid white;
        cursor: zoom-in;
    }
    #s3{
        display: inherit;
        border-top: 1px solid white;
        cursor: zoom-in;
    }
    #s4{
        display: inherit;
        border-top: 1px solid white;
        cursor: zoom-in;
    }
    .snimekPopis{
        display: inherit;
    }

    .mapa_meteoBlok{
    display: flex;
    flex-direction: row;
    }
    .mapaBlok, .meteoBlok{
    flex-basis: 50%;
    }

}

